html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }
body { line-height:1; }
ol,ul { list-style:none; }
blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:'';content:none; }
ins { text-decoration:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse;border-spacing:0; }

body {
	background: #E4E4E4 url("../images/bg.png");
	color: #292929;
	color: rgba(0, 0, 0, 0.82);
	font: normal 100% Cambria, Georgia, serif;
	-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	-webkit-text-size-adjust: none;
}
a {
	color: #890101;
	text-decoration: none;
	-moz-transition: 0.2s color linear;
	-webkit-transition: 0.2s color linear;
	transition: 0.2s color linear;
}

a:hover {
	color: #DF3030;
}

#page {
	background: url("../images/rag.png") repeat-x;
	padding: 2em 0;
}

.inner {
	margin: 0 auto;
	width: 96%;
	
}

img {
	max-width: 95%;
}

.div_nav {
	/* float: left; */ 
	width: 90%;
	margin: auto;
	text-align:center;
}

#logo{
	width:50%;
	margin:auto;
	text-align:center;
}


.intro,  
.main,  
.footer {
	/* float: right; */
	margin: auto;
	width: 80%;
}

.intro {
	margin-top: 100px;
}

.intro div{
	line-height: 1.3;
} 

ul.nav {
	border-top: 1px solid #888583;
	margin: 1em auto 0;
	width: 100%;
}

ul.nav li{
	float:left;
	width:25%;
	margin:auto;
}

ul.nav a{
	background: url("../images/ornament.png") no-repeat 0 100%;
	font: bold 8px "Book Antiqua", "Palatino Linotype", Georgia, serif;
	display: block;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 1em 0.5em 3em;
	margin-bottom: -1em;
}

ul.nav a:hover {
	background-position: 50% 100%;
}



ul.nav i {
	font: normal 10px Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;
	display: block;
	letter-spacing: 0.05em;
}

.intro h2 {
	text-align: center;
	margin-bottom: 0.25em;
}

.main h2 {
	font-size: 1.4em;
	text-align: center;
	margin: 0.75em 0 1em;
}

.main ol li{
	/*float: left;*/
	font-size: 10px;
	letter-spacing: 0.05em;
	line-height: 1.1;
	margin: 0 1.5em;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
}

.main ol li b{
	display: block;
	font-size: 14px;
	font-family: "Book Antiqua", "Palatino Linotype", Georgia, serif;
	letter-spacing: 0.1em;
}

.main ol li img{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);;
	display: block;
	margin: 0 auto 1em;
}

li#t-lal,
li#f-lac {
	margin-right: 0;
}


.footer {
	background: url("../images/ornament.png") 50% 0 repeat-x;
	font-size: 12px;
	text-align: center;
	padding: 40px 0 20px;
}

.footer p {
	margin-bottom: 0.5em;
}





